<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="rejestracja text-center" id="formularzRejestracji" class="formularz">
                <form id="formRejestracji">

                    <label for="Osoba">Imię:</label>
                    <input type="text" id="Imie" name="Imie">
                    <br>

                    <label for="Nazwisko">Nazwisko:</label>
                    <input type="text" id="Nazwisko" name="Nazwisko">
                    <br>

                    <label for="Wiek">Wiek:</label>
                    <input type="number" id="Wiek" name="Wiek">
                    <br>

                    <label for="Login">Login:</label>
                    <input type="text" id="Login" name="Login">
                    <br>

                    <label for="Haslo">Hasło:</label>
                    <input type="password" id="Haslo" name="Haslo">
                    <br>

                    <button type="button" onclick="zarejestruj()">Rejestruj</button>
                    <br>
                </form>
            </div>
        </div>
    </div>

</div>