@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<ModelComplex>//SimpleMVC.Models.SimpleExemple

@{
    ViewData["Title"] = "View";
    
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="sekcja1m">
                @{


                    var personWithId2 = Model?.FirstOrDefault(modelc => modelc?.Person?.Id == 2);

                    if (personWithId2 != null)
                    {
                        <h1>@(personWithId2?.Person?.FirstName) Twój majątek to: </h1>
                        <h2>550000</h2>
                    }
                    else
                    {
                        <h1>Brak informacji dla osoby o Id równym 2</h1>
                    }
                }



            </div>
         </div>
    </div>
    <div class="row">
        

        <div class="col-12 col-md-6 ">
            <button class="przycisk3m" type="text" id="przyciskMajatekN" onclick="zobaczFormularzMajatekN();">+ Dodaj nieruchomość</button>
        </div>
            <div class="col-12 col-md-6  ">
                <button class="przycisk3m" type="text" id="przyciskMajatekR" onclick="zobaczFormularzMajatekR();">+ Dodaj ruchomość</button>
            </div>
       
        <div class="col-12 col-md-6 ">
                <button class="przycisk3m" type="text" id="przyciskMajatekMK" onclick="zobaczFormularzMajatekMK();">+ Dodaj metale i kamienie szlachetne</button>
            </div>
        
        
        <div class="col-12 col-md-6  ">
                <button class="przycisk3m" type="text" id="przyciskMajatekG" onclick="zobaczFormularzMajatekG();">+ Dodaj gotówke</button>
            </div>

        <div class="col-12 col-md-6 ">
            <button class="przycisk3m" type="text" id="przyciskMajatekPW" onclick="zobaczFormularzMajatekPW();">+ Dodaj papiery wartościowe</button>
        </div>
        
         
    </div>
    <div class="row">
        <div class="col-12">
            <div class="listy2m">
                <div class="sekcja6">
                    <h2>Majątek lista</h2>
                    <ul>
                        @{
                            var fortuneForId2 = Model?.FirstOrDefault(modelc => modelc?.Person?.Id == 2)?.Fortune;
                            if (fortuneForId2 != null)
                            {
                                foreach (var property in fortuneForId2.GetType().GetProperties())
                                {
                                    if (property.PropertyType == typeof(float))
                                    {
                                        var value = (float)property.GetValue(fortuneForId2);
                                        if (value != 0)
                                        {
                                            <li>@property.Name: @value</li>
                                        }
                                    }
                                }
                            }
                            else
                            {
                                <li>Brak informacji dla osoby o Id równym 2</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <div id="formularzMajatekR" class="formularz2" style="display: none;">
        <form id="formmajatekR">



            <label for="nazwaMajatkuR">Nazwa:</label>
            <select id="nazwaMajatkuR" name="nazwaMajatkuR">
                <!-- Dodaj opcje do wyboru -->
                <option value="opcja1">Sprzęt turystyczny</option>
                <option value="opcja2">Sprzęt sportowy</option>
                <option value="opcja3">Sprzęt komputerowy</option>
                <option value="opcja4">Sprzęt elektroniczny (RTV i AGD)</option>
                <option value="opcja5">Meble</option>
                <option value="opcja6">Ubrania i akcesoria</option>
                <option value="opcja7">Instrumenty muzyczne</option>
                <option value="opcja8">Sztuka</option>
                <option value="opcja9">Pojazdy</option>
                <!-- Dodaj więcej opcji według potrzeb -->
            </select>
            <br>



            <label for="wartoscMajatekR">Wartość:</label>
            <input type="number" id="wartoscMajatekR" name="wartoscMajatekR">
            <br>


            <button type="button" onclick="zapiszMajatekR()">Zapisz ruchomość</button>
        </form>
    </div>

    <div id="formularzMajatekN" class="formularz2" style="display: none;">
        <form id="formmajatekN">



            <label for="nazwaMajatkuN">Nazwa:</label>
            <select id="nazwaMajatkuN" name="nazwaMajatkuN">
                <!-- Dodaj opcje do wyboru -->
                <option value="opcja1">Mieszkanie</option>
                <option value="opcja2">Dom jednorodziny</option>
                <option value="opcja3">Ziemia</option>
                <option value="opcja4">Restauracja</option>
                <option value="opcja5">Hotel</option>
                <option value="opcja6">Sklep</option>
                <option value="opcja7">Fabryka</option>
                <option value="opcja8">Galeria handlowa</option>

                <!-- Dodaj więcej opcji według potrzeb -->
            </select>
            <br>

            <label for="powierzchniaMajatekN">Powierzchnia w m^2:</label>
            <input type="number" id="powierzchniaMajatekN" name="powierzchniaMajatekN">
            <br>

            <label for="wartoscMajatekN">Wartość:</label>
            <input type="number" id="wartoscMajatekN" name="wartoscMajatekN">
            <br>


            <button type="button" onclick="zapiszMajatekN()">Zapisz nieruchomość</button>
        </form>
    </div>

    <div id="formularzMajatekMK" class="formularz2" style="display: none;">
        <form id="formmajatekMK">



            <label for="nazwaMajatkuMK">Nazwa:</label>
            <select id="nazwaMajatkuMK" name="nazwaMajatkuMK">
                <!-- Dodaj opcje do wyboru -->
                <option value="opcja1">Złoto</option>
                <option value="opcja2">Srebro</option>
                <option value="opcja3">Platyna</option>
                <option value="opcja4">Diament</option>
                <option value="opcja5">Rubin</option>
                <option value="opcja6">Szafir</option>
                <option value="opcja7">Szmaragd</option>
                <option value="opcja8">Perła</option>

                <!-- Dodaj więcej opcji według potrzeb -->
            </select>
            <br>



            <label for="wartoscMajatekMK">Wartość:</label>
            <input type="number" id="wartoscMajatekMK" name="wartoscMajatekMK">
            <br>


            <button type="button" onclick="zapiszMajatekMK()">Zapisz metal/kamień</button>
        </form>
    </div>

    <div id="formularzMajatekPW" class="formularz2" style="display: none;">
        <form id="formmajatekPW">



            <label for="nazwaMajatkuPW">Nazwa:</label>
            <select id="nazwaMajatkuPW" name="nazwaMajatkuPW">
                <!-- Dodaj opcje do wyboru -->
                <option value="opcja1">Akcje</option>
                <option value="opcja2">Obligacje</option>
                <option value="opcja3">Certyfikaty inwestycyjne</option>
                <option value="opcja4">Listy zastawne</option>
                <option value="opcja5">Papiery komercyjne</option>


                <!-- Dodaj więcej opcji według potrzeb -->
            </select>
            <br>



            <label for="wartoscMajatekPW">Wartość:</label>
            <input type="number" id="wartoscMajatekPW" name="wartoscMajatekPW">
            <br>


            <button type="button" onclick="zapiszMajatekPW()">Zapisz papiery wartościowe</button>
        </form>
    </div>

    <div id="formularzMajatekG" class="formularz2" style="display: none;">
        <form id="formmajatekG">



            <label for="nazwaMajatkuG">Nazwa:</label>
            <select id="nazwaMajatkuG" name="nazwaMajatkuG">
                <!-- Dodaj opcje do wyboru -->
                <option value="opcja1">Złoty</option>
                <option value="opcja2">Euro</option>
                <option value="opcja3">Dolar amerykański</option>
                <option value="opcja4">Funt brytyjski</option>


                <!-- Dodaj więcej opcji według potrzeb -->
            </select>
            <br>



            <label for="wartoscMajatekG">Wartość:</label>
            <input type="number" id="wartoscMajatekG" name="wartoscMajatekG">
            <br>


            <button type="button" onclick="zapiszMajatekG()">Zapisz gotówkę</button>
        </form>
    </div>



   

</div>
   

            

        
       

        

@*


<div>
    @Html.ActionLink("Deatils", "Details", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Details" asp-controller="Home">Back to List</a>
</div>
*@