@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@*model IEnumerable<ModelComplex>//SimpleMVC.Models.SimpleExemple*@
@model SimpleMVC.ViewModels.HomeViewModelOne
    


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="sekcja1m">
                @{


                   
                        <h1>@Model.Imie Twój majątek to: </h1>
                        <h2>2</h2>
               
                 
                }



            </div>
         </div>
    </div>
    <div class="row">
        

        <div class="col-12 col-md-6 ">
            <button class="przycisk3m" type="text" id="przyciskMajatekN" onclick="zobaczFormularzMajatekN();">+ Dodaj nieruchomość</button>
        </div>
            <div class="col-12 col-md-6  ">
                <button class="przycisk3m" type="text" id="przyciskMajatekR" onclick="zobaczFormularzMajatekR();">+ Dodaj ruchomość</button>
            </div>
       
        <div class="col-12 col-md-6 ">
                <button class="przycisk3m" type="text" id="przyciskMajatekMK" onclick="zobaczFormularzMajatekMK();">+ Dodaj metale i kamienie szlachetne</button>
            </div>
        
        
        <div class="col-12 col-md-6  ">
                <button class="przycisk3m" type="text" id="przyciskMajatekG" onclick="zobaczFormularzMajatekG();">+ Dodaj gotówke</button>
            </div>

        <div class="col-12 col-md-6 ">
            <button class="przycisk3m" type="text" id="przyciskMajatekPW" onclick="zobaczFormularzMajatekPW();">+ Dodaj papiery wartościowe</button>
        </div>
        
         
    </div>
    <div action="row">
        <div class="col-12">
            <div id="formularzMajatekR" class="formularz2" style="display: none;">
                <form id="formmajatekR">



                    <label for="nazwaMajatkuR">Nazwa:</label>
                    <select id="nazwaMajatkuR" name="nazwaMajatkuR" required>
                        <!-- Dodaj opcje do wyboru -->
                        <option value="opcja1">Samochód</option>
                        <option value="opcja2">Telewizor</option>
                        <option value="opcja3">Laptop</option>
                        <option value="opcja4">Smartfon</option>
                        <option value="opcja5">Rowerek</option>
                       
                        <!-- Dodaj więcej opcji według potrzeb -->
                    </select>
                    <br>



                    <label for="wartoscMajatekR">Wartość:</label>
                    <input type="number" id="wartoscMajatekR" name="wartoscMajatekR" required>
                    <br>


                    <button type="button" onclick="zapiszMajatekR()">Zapisz ruchomość</button>
                </form>
            </div>

            <div id="formularzMajatekN" class="formularz2" style="display: none;">
                <form id="formmajatekN">



                    <label for="nazwaMajatkuN">Nazwa:</label>
                    <select id="nazwaMajatkuN" name="nazwaMajatkuN" required>
                        <!-- Dodaj opcje do wyboru -->
                        <option value="opcja1">Dom</option>
                        <option value="opcja2">Mieszkanie</option>
                        <option value="opcja3">Działka</option>
                        <option value="opcja4">Apartament</option>
                        <option value="opcja5">Garaż</option>
                       

                        <!-- Dodaj więcej opcji według potrzeb -->
                    </select>
                    <br>

                    <label for="powierzchniaMajatekN">Powierzchnia w m^2:</label>
                    <input type="number" id="powierzchniaMajatekN" name="powierzchniaMajatekN" required>
                    <br>

                    <label for="wartoscMajatekN">Wartość:</label>
                    <input type="number" id="wartoscMajatekN" name="wartoscMajatekN" required>
                    <br>


                    <button type="button" onclick="zapiszMajatekN()">Zapisz nieruchomość</button>
                </form>
            </div>

            <div id="formularzMajatekMK" class="formularz2" style="display: none;">
                <form id="formmajatekMK">



                    <label for="nazwaMajatkuMK">Nazwa:</label>
                    <select id="nazwaMajatkuMK" name="nazwaMajatkuMK" required>
                        <!-- Dodaj opcje do wyboru -->
                        <option value="opcja1">Złoto</option>
                        <option value="opcja2">Srebro</option>
                        <option value="opcja3">Platyna</option>
                        <option value="opcja4">Diament</option>
                        <option value="opcja5">Rubin</option>
                       

                        <!-- Dodaj więcej opcji według potrzeb -->
                    </select>
                    <br>



                    <label for="wartoscMajatekMK">Wartość:</label>
                    <input type="number" id="wartoscMajatekMK" name="wartoscMajatekMK" required>
                    <br>


                    <button type="button" onclick="zapiszMajatekMK()">Zapisz metal/kamień</button>
                </form>
            </div>

            <div id="formularzMajatekPW" class="formularz2" style="display: none;">
                <form id="formmajatekPW">



                    <label for="nazwaMajatkuPW">Nazwa:</label>
                    <select id="nazwaMajatkuPW" name="nazwaMajatkuPW" required>
                        <!-- Dodaj opcje do wyboru -->
                        <option value="opcja1">Akcje XYZ</option>
                        <option value="opcja2">Obligacje ABC</option>
                        <option value="opcja3">Certyfikaty Depozytowe</option>
                        <option value="opcja4">ETF</option>
                        <option value="opcja5">Fundusz Inwestycyjny</option>


                        <!-- Dodaj więcej opcji według potrzeb -->
                    </select>
                    <br>



                    <label for="wartoscMajatekPW">Wartość:</label>
                    <input type="number" id="wartoscMajatekPW" name="wartoscMajatekPW" required>
                    <br>


                    <button type="button" onclick="zapiszMajatekPW()">Zapisz papiery wartościowe</button>
                </form>
            </div>

            <div id="formularzMajatekG" class="formularz2" style="display: none;">
                <form id="formmajatekG">



                    <label for="nazwaMajatkuG">Nazwa:</label>
                    <select id="nazwaMajatkuG" name="nazwaMajatkuG" required>
                        <!-- Dodaj opcje do wyboru -->
                        <option value="opcja1">Portfel</option>
                        <option value="opcja2">Skrzynka Bankowa</option>
                        <option value="opcja3">Kasa</option>
                        <option value="opcja4">Bankomat</option>
                        <option value="opcja4">Gotówka w Domu</option>


                        <!-- Dodaj więcej opcji według potrzeb -->
                    </select>
                    <br>



                    <label for="wartoscMajatekG">Wartość:</label >
                    <input type="number" id="wartoscMajatekG" name="wartoscMajatekG" required>
                    <br>


                    <button type="button" onclick="zapiszMajatekG()">Zapisz gotówkę</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="listy2m">
                <div class="sekcja6">
                    <h2>Majątek lista</h2>
                    <ul>
                        @{


                            /*     <li>@Model.Majatek.Gotowka.ToString()</li>*/



                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>




   



   

</div>
   

            

        
       

        

@*


<div>
    @Html.ActionLink("Deatils", "Details", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Details" asp-controller="Home">Back to List</a>
</div>
*@