@{
    ViewData["Title"] = "Home Page";
}
<div class="cont">
<div class="sekcja1">
    <h1>Dochód</h1>
    <p>5156</p>
   
</div>
<div class="sekcja2">
    <h2>Lista wydatków</h2>
    <ul>
    </ul>

</div>

<div class="sekcja3">
    <h2>Lista przychodów</h2>
    <ul>
    </ul>
</div>
</div>
