@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ModelComplex>//SimpleMVC.Models.SimpleExemple



<div class="cont">
 <div class="sekcja1">
        @{
            var personWithId2 = Model?.FirstOrDefault(modelc => modelc?.Person?.Id == 2);
            if (personWithId2 != null)
            {
                <h1>@(personWithId2?.Person?.FirstName) Twój dochód to: </h1>
            }
            else
            {
                <h1>Brak informacji dla osoby o Id równym 2</h1>
            }
        }
        
    <p>@personWithId2.Income.Rental+ @personWithId2.Income.Salary + @personWithId2.Income.SideJob</p>
   
</div>
<div class="sekcja2">
    <h2>Lista wydatków</h2>
    <ul>
    </ul>

</div>

<div class="sekcja3">
    <h2>Lista przychodów</h2>
    <ul>
    </ul>
</div>
</div>
