@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="politykap">
                <h1>Polityka Prywatności SEJFer</h1>

                <p>Dziękujemy za korzystanie z naszej platformy SEJFer. Polityka prywatności firmy SEJFer ma na celu zapewnić pełne zrozumienie, jakie informacje zbieramy, w jaki sposób są wykorzystywane oraz jakie są Państwa prawa w kontekście prywatności. Prosimy o uważne zapoznanie się z poniższym dokumentem.</p>

                <h2>1. Wstęp</h2>

                <p>Polityka prywatności ma na celu informowanie użytkowników o zbieraniu, wykorzystywaniu i ochronie ich danych osobowych.</p>

                <h2>2. Rodzaje Danych Osobowych</h2>

                <p>SEJFer zbiera dane osobowe na potrzeby udostępniania i obsługi platformy finansowej. Rodzaje zebranych danych mogą obejmować informacje identyfikujące, takie jak imię, nazwisko, adres e-mail, a także dane dotyczące finansów, takie jak dochody, wydatki, oszczędności czy też informacje o majątku.</p>

                <h2>3. Cel Zbierania Danych</h2>

                <p>Dane osobowe są zbierane w celu umożliwienia pełnego korzystania z funkcji platformy SEJFer, w tym zarządzania finansami, generowania zestawień, czy udostępniania profilu oszczędzania. Zebrane dane mogą być również wykorzystywane do analizy trendów i poprawy jakości świadczonych usług.</p>

                <h2>4. Udostępnianie Danych Osobowych</h2>

                <p>SEJFer dba o bezpieczeństwo zebranych danych i nie udostępnia ich osobom trzecim bez wyraźnej zgody użytkownika, chyba że wymaga tego obowiązujące prawo.</p>

                <h2>5. Pliki Cookies</h2>

                <p>SEJFer może korzystać z plików cookies w celu poprawy jakości świadczonych usług. Pliki cookies pozwalają na personalizację treści, analizę ruchu na stronie oraz ułatwiają korzystanie z platformy.</p>

                <h2>6. Bezpieczeństwo Danych</h2>

                <p>SEJFer podejmuje wszelkie możliwe środki, aby chronić zebrane dane przed nieautoryzowanym dostępem, utratą czy też nieuprawnionym ujawnieniem. Stosowane są odpowiednie technologie i procedury zabezpieczające.</p>

                <h2>7. Prawa Użytkowników</h2>

                <p>Użytkownicy SEJFer mają prawo do dostępu do swoich danych osobowych, ich poprawiania, usuwania, ograniczania przetwarzania oraz przenoszenia. Mogą również w każdym czasie wycofać udzieloną zgodę na przetwarzanie danych.</p>

                <h2>8. Kontakt</h2>

                <p>W razie pytań, wątpliwości lub zgłoszeń dotyczących prywatności, prosimy o kontakt na adres e-mailowy <a href="mailto:adres_email@sejfer.com">adres_email@sejfer.com</a>.</p>

                <p>Dziękujemy za zaufanie i korzystanie z SEJFer.</p>
            </div>
        </div>
    </div>
</div>
