html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #D4D9DB;
  margin-left:auto;
  margin-right:auto;
}

footer{
    background-color:#2f2f2f;
}
.cont{
    width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto
}

.sekcja1 {
    position: center;
    background-color: white;
    width: 40%;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px #00b6d7;
}

.sekcja2 {
    display: inline-block;
    float: left;
    background-color: white;
    width: 45%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1px 10px #00b6d7;
}

.sekcja3 {
    float: right;
    display: inline-block;
    background-color: white;
    width: 45%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1px 10px dodgerblue;
}

h2 {
    color: #00b6d7;
    font-family: Rubik;
    font-size: 32px;
    font-weight: 500;
}

.sekcja1 > h1 {
    color: #00b6d7;
    font-family: Rubik;
    font-size: 38px;
    font-weight: 500;
}

.sekcja1 > p {
    font-family: Rubik;
    font-size: 28px;
    text-align: center;
    color:black;
}


.navbar-brand {
    font-family: Rubik;
    font-size: 22px;
    color: white;
}

nav {
    font-family: Rubik;
    font-size: 22px;
    color: white;
    
}

.navbar-dark {
    background-color: #00b6d7;
    
}
.navbar-nav{
    justify-content:center;
}

.nav-link {
    text-align: center;
    
    
}







