html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #E2E2E2;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #002228;
}
.cont{
    width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto
}
.info {
    height: auto;
    width:100%;
    
}

.sekcja1 {
    
    display: inline-block;
    background-color: white;
    width: 45%;
    float: left;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 5px #00859C;
    box-sizing: border-box;
}

.sekcja2 {
    display: inline-block;
    float: right;
    background-color: #00b6d7;
    width: 45%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 5px #00859C;
    box-sizing: border-box;
}

.listy1 {
    width:100%;
      display: flex;
      justify-content: space-between;
      margin-bottom:100px;
    
}

    .listy1 li {
        list-style-type: none;
        background-color: white;
        border-radius: 100px;
        padding: 10px;
        margin: 10px;
        color: #005362;
        font-family: Rubik;
        font-size: 22px;
    }


.sekcja3 {
    color: white;
    flex: 1;
    box-sizing: border-box;
    background-color: #005362;
    width: 30%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px #343434;
}

.sekcja4 {
    color: white;
    flex: 1;
    box-sizing: border-box;
    background-color: #00859C;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px #025462;
}
.sekcja5 {
    color: white;
    flex: 1;
    box-sizing: border-box;
    background-color: #00B6D7;
    width: 30%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px #00859C;
}



.przyciski1 {
    
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}

.przycisk1 {
    
    text-align: center;
    padding: 20px;
    border-radius: 100px;
    font-family: Rubik;
    font-size: 22px;
    font-weight: 500;
    background-color: white;
    color: #005362;
    border: 3px solid #005362;
}


    .przycisk1:hover {
        color: white;
        text-align: center;
        background-color: #005362;
        border-radius: 100px;
        padding: 20px;
        border: 3px solid white;
        font-family: Rubik;
        font-size: 22px;
        font-weight: 500;
    }


.przyciskDodatkowy1,
.przyciskDodatkowy2,
.przyciskDodatkowy3 {
    text-align: center;
    padding: 20px;
    border-radius: 100px;
    font-family: Rubik;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.przyciskDodatkowy1 {
    background-color: white;
    color: #005362;
    border: 3px solid #005362;
}

.przyciskDodatkowy2 {
    background-color: white;
    color: #00859C;
    border: 3px solid #00859C;
}

.przyciskDodatkowy3 {
    background-color: white;
    color: #00B6D7;
    border: 3px solid #00B6D7;
}

.przyciskDodatkowy1:hover {
    color: white;
    background-color: #005362;
    border-radius: 100px;
    padding: 20px;
    border: 3px solid white;
}

.przyciskDodatkowy2:hover {
    color: white;
    background-color: #00859C;
    border-radius: 100px;
    padding: 20px;
    border: 3px solid white;
}

.przyciskDodatkowy3:hover {
    color: white;
    background-color: #00B6D7;
    border-radius: 100px;
    padding: 20px;
    border: 3px solid white;
}

.przycisk2 {
    text-align: center;
    padding: 20px;
    border-radius: 100px;
    font-family: Rubik;
    font-size: 22px;
    font-weight: 500;
    background-color: white;
    color: #00859C;
    border: 3px solid #00859C;
}
    .przycisk2:hover {
        color: white;
        text-align: center;
        background-color: #00859C;
        border-radius: 100px;
        padding: 20px;
        border: 3px solid white;
        font-family: Rubik;
        font-size: 22px;
        font-weight: 500;
    }


.przycisk3 {
    text-align: center;
    padding: 20px;
    border-radius: 100px;
    font-family: Rubik;
    font-size: 22px;
    font-weight: 500;
    background-color: white;
    color: #00B6D7;
    border: 3px solid #00B6D7;
}
    .przycisk3:hover {
        color: white;
        text-align: center;
        background-color: #00B6D7;
        border-radius: 100px;
        padding: 20px;
        border: 3px solid white;
        font-family: Rubik;
        font-size: 22px;
        font-weight: 500;
    }



.sekcja1 > h1 {
    color: #00b6d7;
    font-family: Rubik;
    font-size: 35px;
    font-weight: 500;
}

.sekcja2 > h1 {
    color: white;
    font-family: Rubik;
    font-size: 35px;
    font-weight: 500;
}

.sekcja1 > p {
    font-family: Rubik;
    font-size: 30px;
    text-align: center;
    color: #005362;
}

.sekcja2 > p {
    font-family: Rubik;
    font-size: 30px;
    text-align: center;
    color: #005362;
}

h2{
    font-family:Rubik;
    font-size:30px;
}
.navbar-brand {
    font-family: Rubik;
    font-size: 22px;
    color: white;
}

nav {
    font-family: Rubik;
    font-size: 22px;
    color: white;
    
}

.navbar-dark {
    background-color: #00b6d7;
    
}
.navbar-nav{
    justify-content:center;
}

.nav-link {
    text-align: center;
    
    
}
button:disabled {
    background-color: #C6C6C6;
}







