@model Users

@{
    ViewData["Logowanie"] = "Logowanie";
}



<form asp-controller="Account" asp-action="Login" method="get">

    <div> <!--style="background-color: red">-->
        <div>
            <label asp-for="UserName">User name: </label>
            <input  asp-for="UserName"type="text" required />
        </div>
        <div>
            <label asp-for="Password">Password: </label>
            <input  asp-for="Password" type="password" required />
        </div>
        <button type="submit">Login</button>
    </div>
    <div>
        <a href="#">Don't have an account? Register here</a>
    </div>
    <div>@ViewData["ErrorMessage"]</div>

</form>
